<span id="all-arm-span">
    <span class="arm-span">
    <a class="arm-button" data-title="<<<<<&nbsp;&nbsp;&nbsp;&nbsp;>>>>>" (mousemove)="mousemove($event)" (mouseleave)="mouseleave($event)"
       (mousedown)="mousedown($event)" (mouseup)="mouseup($event)"></a>
    </span>
    <br>
    <br>
    <span class="arm-span">
    <a class="arm-button" data-title="<<<<<&nbsp;&nbsp;&nbsp;&nbsp;>>>>>" (mousemove)="mousemove($event)" (mouseleave)="mouseleave($event)"
       (mousedown)="mousedown($event)" (mouseup)="mouseup($event)"></a>
    </span>
    <br>
    <br>
    <span class="arm-span">
    <a class="arm-button" data-title="<<<<<&nbsp;&nbsp;&nbsp;&nbsp;>>>>>" (mousemove)="mousemove($event)" (mouseleave)="mouseleave($event)"
       (mousedown)="mousedown($event)" (mouseup)="mouseup($event)"></a>
    </span>
  </span>
